# Next Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=


TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=


LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# API
API_BASE_URL=
NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_AUTH_BASEURL=

NEXT_PUBLIC_AUTH_SECRET_KEY=
NEXT_PUBLIC_JWT_AUTH_SECRET_KEY=

# Pricing

NEXT_PUBLIC_BASIC_MONTHLY_PRICE=
NEXT_PUBLIC_BASIC_YEARLY_PRICE=
NEXT_PUBLIC_PRO_MONTHLY_PRICE=
NEXT_PUBLIC_PRO_YEARLY_PRICE=
NEXT_PUBLIC_EXPERT_MONTHLY_PRICE=
NEXT_PUBLIC_EXPERT_YEARLY_PRICE=

NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_TENOR_API_KEY=

NEXT_PUBLIC_ENVIRONMENT=development