@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 203 89% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 205 51% 25%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 203 89% 53%;
    --radius: 0.4rem;
    --fc-today-bg-color: #139cf12e;
    --epr-bg-color: var(--background);
  }

  .dark {
    --background: 0 0% 2.9%;
    --foreground: 210 20% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0% 4.9%;
    --popover-foreground: 210 20% 98%;
    --secondary: 205 51% 35%;
    --primary: 203 89% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 60.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 203 89% 53%;
    --fc-today-bg-color: #139cf12e;
    --epr-bg-color: var(--background);
    --epr-emoji-size: 20px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fc {
  @apply overflow-hidden rounded bg-background text-foreground;
}

.fc .fc-col-header-cell {
  @apply first:rounded-t last:rounded-tr;
}

.fc-timegrid-event-harness > .fc-timegrid-event {
  @apply !relative;
}

/* Chart */

.apexcharts-canvas .apexcharts-xaxistooltip {
  @apply rounded border-0 bg-gray-50/10 text-primary shadow-md !backdrop-blur before:border-b-transparent after:border-b-white/10 dark:after:border-b-accent-foreground;
}

.apexcharts-canvas .apexcharts-tooltip-title {
  @apply border-0 bg-gray-200 text-center font-bold text-secondary dark:text-primary;
}

.apexcharts-canvas .apexcharts-legend {
  @apply p-0;
}
.apexcharts-canvas .apexcharts-legend-series {
  @apply !flex items-center;
}
.apexcharts-canvas .apexcharts-legend-marker {
  @apply mr-2;
}
.apexcharts-canvas .apexcharts-legend-text {
  @apply capitalize leading-5 dark:!text-white;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark {
  @apply rounded border-0 !bg-white/20 text-foreground shadow-lg backdrop-blur  dark:!bg-background/50 dark:text-white;
}

.apexcharts-canvas .apexcharts-text.apexcharts-xaxis-label,
.apexcharts-canvas .apexcharts-text.apexcharts-yaxis-label {
  @apply !fill-foreground dark:!fill-gray-300;
}
